body {
  font-family: Verdana, Arial, sans-serif;
  background-color: aliceblue;
}

table {
  font-size: 16px;
  text-align: left;
  border-collapse: collapse;
}

th {
  background-color: #b7d0ff;
  font-weight: bold;
  padding: 12px 0px 12px 6px;
  border-bottom: 2px solid gray;
}

td {
  padding: 6px;
  border-bottom: 1px solid gray;
}